.homeBox {
	height: calc(~"100% - 0.6rem");
	background: #0B2D2B;
	overflow: hidden;

	.firstArea {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap-reverse;
		padding-top: 0.5rem;

		.one {
			width: 5.4rem;
			height: 4.1rem;
			margin-bottom: 50px;
			margin-right: 50px;
			background: #16544F;
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.10);
			border-radius: 0.06rem;
			overflow: hidden;
		}
	}
}