.createPackageBox {
	height: 7.5rem;
	background: #0B2D2B;
	overflow: hidden;

	.firstArea {
		display: flex;
		justify-content: center;
		flex-direction: row;
		padding-top: 0.5rem;

		.one {
			width: 10.8rem;
			height: 7rem;
			margin-bottom: 50px;
			margin-right: 50px;
			background: #16544F;
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.10);
			border-radius: 0.06rem;
			overflow: hidden;

			.title {
				position: relative;
				left: 0.45rem;
				top: 0.32rem;
				width: 1.02rem;
				height: 0.24rem;

				span {
					font-family: HelveticaNeue-Medium, PingFangSC-Medium;
					font-size: 0.24rem;
					color: #FFFFFF;
					text-align: center;
					line-height: 0.24rem;
					margin-left: 0.04rem;
				}
			}
			.input1{
				width: 4rem;
				margin-top: 0.6rem;
				margin-left: 0.9rem;
				span {
					display: inline-block;
					font-family: HelveticaNeue-Medium, PingFangSC-Medium;
					font-size: 0.16rem;
					color: #FFFFFF;
					text-align: center;
					line-height: 0.16rem;
					margin-left: 0.04rem;
					margin-right: 0.2rem;
				}
				.inputInput{
					display: inline-block;
				}
			}
		}
	}
}